* {
  margin: 0;
  padding: 0;
}

.app,
.randomButton,
#randomize,
.main,
.setup {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
}

.app {
  width: 100vw;
  height: 100vh;
}

.board {
  border: 4px brown inset;
  padding: 1px;
  width: calc(128px * 4);
  height: calc(128px * 4);
  position: relative;
}

.cell {
  background-color: rgb(255, 247, 238);
  border-radius: 10px;
  font-size: xx-large;
  font-weight: 800;
  width: 128px;
  height: 128px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px rgb(153, 107, 70) outset;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-out;
}

.colors img{
  width: 30px;
  height: 30px;
}