*{
  margin: 0;
  padding: 0;
}

.app,
.randomButton,
#randomize,
.main,
.setup{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
}

.app {
  width: 100vw;
  height: 100vh;
}

.board {
  border: 4px brown inset;
  padding: 1px;
  width: calc(128px * 4);
  height: calc(128px * 4);
  position: relative;
}

.cell {
  background-color: white;
  border-radius: 10px;
  font-size: xx-large;
  font-weight: 800;
  width: 128px;
  height: 128px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px rgb(255, 0, 64) outset;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all .4s ease-out;
}

#randomize{
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
}

#randomize img{
  margin: 0;
  padding: 0;
}

dialog{
  top: 10%;
  left: auto;
  right: auto;
  padding: 15px;
}