*{
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.board {
  border: 4px brown inset;
  padding: 1px;
  width: calc(128px * 4);
  height: calc(128px * 4);
  position: relative;
}

.cell {
  background-color: white;
  border-radius: 10px;
  font-size: xx-large;
  font-weight: 800;
  width: 128px;
  height: 128px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 12px rgb(111, 0, 255) inset;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all .4s ease-out;
}

.randomButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#randomize{
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#randomize img{
  margin: 0;
  padding: 0;
}